{% extends "base.html" %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'apply/css/form.css' %}" />
<script id="JSONListFieldSchemas" type="application/json">
    {{ view.JSONListFieldSchemas | safe }}
</script>
{% endblock head %}
{% block navbar %}
<input type=button class="btn btn-sm" value="Go Back" onClick="javascript:history.go(-1);">
Reviewing {{ application.getApplicantName }}'s {{ application.getApplicationType }} application

{% endblock %}

{% block content %}
<form class="applicationForm">

    {% for f in form_pages %}
        {% include 'apply/forms/form_as_fieldsets.html' with form=f  %}
    {% endfor %}

</form>

<script src="{% static 'apply/js/parseSchemas.js' %}"></script>
<script>
    $(function() {
        parseSchemas(false);
    });
</script>

{% endblock content %}