{% extends "base.html" %}

{% block content %}
    <h1>Review Application List</h1>

    <ul class="nav nav-tabs">
        <li{% if filter_type == "all" %} class="active" {% endif %}><a href="{% url 'review:review-list' 'all' %}">All</a></li>
        <li{% if filter_type == "merit" %} class="active" {% endif %}><a href="{% url 'review:review-list' 'merit' %}">Merit</a></li>
        <li{% if filter_type == "financial" %} class="active" {% endif %}><a href="{% url 'review:review-list' 'financial' %}">Financial</a></li>
    </ul>
    <ul class="nav nav-tabs">
        <li{% if filter_submitted == "all" %} class="active" {% endif %}><a href="{% url 'review:review-list' filter_type 'all' %}">All</a></li>
        <li{% if filter_submitted == "progress" %} class="active" {% endif %}><a href="{% url 'review:review-list' filter_type 'progress' %}">In progress</a></li>
        <li{% if filter_submitted == "submitted" %} class="active" {% endif %}><a href="{% url 'review:review-list' filter_type 'submitted' %}">Submitted</a></li>
    </ul>

    {% if object_list %}
    <table class="table">
        <thead>
            <th>Type</th>
            <th>Username</th>
            <th>Email</th>
            <th>Date created</th>
            <th>Submitted?</th>
            <th>Date last modified</th>
            <th>Date submitted</th>
            <th>Year</th>
        </thead>
        {% for app in object_list %}
        <tr>
            <td>{{app.getApplicationType}}</td>
            <td>{{app.account}}</td>
            <td>{{app.account.email}}</td>
            <td>{{app.date_created}}</td>
            <td>{{app.submitted}}</td>
            <td>{{app.date_last_modified}}</td>
            <td>{{app.date_last_submitted}}</td>
            <td>{{app.year}}</td>
            <td>
                <a href="{% url 'review:review-view' id=app.pk %}">
                    <button class="btn btn-primary">
                        Review application
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
      <p style="margin-top: 20px;">
          <b>Applications not found</b><br />
          There are no applications in this category yet.
        </p>
    {% endif %}       
{% endblock content %}