{% extends "base.html" %}

{% block content %}
    <h1>Your applications</h1>

    {% if object_list %}
        {% for app in object_list %}
        We have an application on file for your account.<br><br>
        <strong>Application type:</strong> {{ app.getApplicationType }}
            <span class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    Change application type
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'apply:application-change-type' 0 %}">Merit</a></li>
                    <li><a href="{% url 'apply:application-change-type' 1 %}">Financial</a></li>
                </ul>
            </span>
        
        <br>
        <strong>Date created:</strong> {{ app.date_created }}<br>
        <strong>Date last modified:</strong> {{ app.date_last_modified }}<Br>
        <strong>Deadline:</strong> May 1, 2018<!-- todo update this --><br>
        <h4>
            <strong>Current Application Status: {% if app.submitted %}<font color=green>Submitted - In Review</font>{% else %}<font color=red>Not submitted</font>{% endif %}</strong>
        </h4>
            <br>
            <a href="{% url 'apply:form-page-start' %}">
                <button class="btn btn-primary">
                    Edit existing application
                </button>
            </a>
            <br><br>
        {% endfor %}

    {% else %}
      <p>You haven't started an application yet for this year with this account.</p>
      <span class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Create a new application
        <span class="caret"></span></button>
            <ul class="dropdown-menu">
            <li><a href="{% url 'apply:application-new' 0 %}">Merit</a></li>
            <li><a href="{% url 'apply:application-new' 1 %}">Financial</a></li>
        </ul>
      </span>
    {% endif %}       
{% endblock content %}