{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>Sign in</h1> 

<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<br><br>
<a href="{% url 'forgot_username' %}">{% trans "Forgot your username?" %}</a></p>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it." %}</a></p>
<p>{% trans "If you don't have an account, please " %} <a href="{% url 'registration_register' %}">{% trans "register for a new account." %}</a></p>
{% endblock %}
