{% load static %}
<!DOCTYPE html>
<html>

<head>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
        <link rel="stylesheet" href="{% static 'iasf/css/main.css' %}" />
    {% block head %}
    {% endblock %}
    <title>IASF Application 2.0</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">IASF Application</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% with url_name=request.resolver_match.url_name %}
        <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li class="{% if url_name == 'application-list' %}active{% endif %}"><a href="{% url 'apply:application-list' %}">My application</a></li>
        {% if user.is_staff %}
        <li class="{% if url_name == 'review-list' %}active{% endif %}"><a href="{% url 'review:review-list' %}">Review Applications</a></li>
        {% endif %}
        <li class="{% if url_name == 'logout' %}active{% endif %}"><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li class="{% if url_name == 'login' %}active{% endif %}"><a href="{% url 'login' %}">Login to an existing application</a></li>
        <li class="{% if url_name == 'registration_register' %}active{% endif %}"><a href="{% url 'registration_register' %}">Start a new application</a></li>
        {% endif %}
        <li><a>
                <b>Application Deadline: May 1, 2018</b>
        </a></li>
        </ul>
        {% endwith %}
        </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->

{% block navbar %}
{% endblock %}

</nav>


<div class="container main">
        
        {% block content %}
        {% endblock %}
</div>
<script>
        $(function() {
                $("body").css("margin-top", $(".navbar").height());
        });
</script>
</body>

</html>